<ul class="collection with-header">
    <li class="collection-header"><h4>Chores</h4></li>
    {% for chore in chores %}
    <li class="collection-item avatar modal-trigger" style="cursor: pointer;" href="#chore-detail-modal" onclick="openChoreDetail(event)" data-chore-id="{{ chore.id }}">
        {% if chore.is_priority %}
            <i class="material-icons circle yellow darken-2">star</i>
        {% else %}
            <i class="material-icons circle green">check</i>
        {% endif %}
        <span class="title">{{ chore.title }}</span>
        <p>{{ chore.assignee.name }} <br>
           <span class="grey-text">{{ chore.status }} - Due: {{ chore.next_due.strftime('%b %d') if chore.next_due else 'N/A' }}</span>
        </p>
        <a href="#!" class="secondary-content">
            <span class="new badge {% if chore.status == 'Overdue' %}red{% elif chore.status == 'Due Soon' %}amber{% else %}green{% endif %}" data-badge-caption="{{ chore.status }}"></span>
        </a>
    </li>
    {% else %}
    <li class="collection-item">
        <p>{{ no_chores_message | default('No chores found.') }}</p>
    </li>
    {% endfor %}
</ul>
